@font-face {
  font-family: HelNowReg;
  src: url("../Fonts/HelveticaNowDisplay-Regular.otf") format("truetype");
}

#aboutContainer {
  background-color: white;
  width: calc(100vw - 390px);
  height: 100vh;
  font-family: HelNowReg;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 5vh;
  float: right;
}

#aboutTextContainer {
  width: 500px;
  text-align: justify;
  margin-right: 10px;
  font-size: 14px;
}

#aboutImageContainer {
  width: 236px;
  height: 314px;
}

#aboutText1 {
  margin: 0 auto 40px;
}

#aboutText2 {
  margin-bottom: 40px;
}

#aboutText3 {
  margin-bottom: 80px;
}

#aboutText4 {
  margin-bottom: 60px;
}

#aboutText5 {
  margin-bottom: 20px;
}
