@font-face {
  font-family: HelNowMed;
  src: url("../Fonts/HelveticaNowDisplay-Medium.otf") format("truetype");
}

@font-face {
  font-family: HelNowReg;
  src: url("../Fonts/HelveticaNowDisplay-Regular.otf") format("truetype");
}

#projectInfo {
  z-index: 3;
  width: 200px;
  height: 150px;
  position: fixed;
  top: 50vh;
  left: 150px;
  text-align: right;
}

.detailName {
  font-family: HelNowMed;
}

.detail {
  font-family: HelNowReg;
}

#projectDisplay {
  float: left;
  margin-left: 350px;
  width: calc(100vw - 370px);
  display: flex;
  flex-direction: column;
  padding: calc(20px + 99vw / 264 - 350px / 264) 20px 0 calc(20px + 99vw / 264 - 350px / 264);
  box-sizing: border-box;
  align-items: center;
}

#projectDisplay div {
  height: calc(100vw * 0.656 - 410px * 0.656);
  margin-bottom: 20px;
}

#projectDisplay img {
  height: calc(100vw * 0.656 - 410px * 0.656);
  max-width: 100%;
}

#leftTransparent {
  width: calc(50vw - 200px);
  height: 100vh;
  cursor: url(../Icons/leftArrow.svg), auto;
  position: fixed;
  right: calc(50vw - 200px);
  z-index: 3;
}

#rightTransparent {
  width: calc(50vw - 200px);
  height: 100vh;
  cursor: url(../Icons/rightArrow.svg), auto;
  position: fixed;
  right: 0px;
  z-index: 3;
}

@media all and (max-width: 750px) {
  #detailsContainer {
    margin-top: 10vh;
  }

  #leftTransparent {
    left: 0;
    top: 10vh;
    height: 5vh;
    width: 50vw;
  }

  #rightTransparent {
    left: 50vw;
    top: 10vh;
    height: 5vh;
    width: 50vw;
  }

  #infoAndProjectContainer {
    display: flex;
    flex-direction: column;
  }
  #projectInfo {
    z-index: 0;
    width: 95vw;
    padding: 0;
    height: 20vh;
    position: relative;
    top: auto;
    left: auto;
    text-align: left;
    margin: auto;
  }

  #projectDisplay {
    float: none;
    width: 95vw;
    padding: 0;
    align-items: center;
    margin: auto;
  }

  #projectDisplay div {
    height: auto;
    margin-bottom: 5px;
  }

  #projectDisplay img {
    height: auto;
    width: 95vw;
  }
}

@media all and (max-width: 750px) and (max-height: 700px) {
  #detailsContainer {
    margin-top: 15vh;
  }
  #projectInfo {
    height: 150px;
  }
  #leftTransparent {
    top: 15vh;
  }

  #rightTransparent {
    top: 15vh;
  }
}
@media all and (max-width: 750px) and (max-height: 450px) {
  #detailsContainer {
    margin-top: 20vh;
  }
  #leftTransparent {
    top: 15vh;
  }

  #rightTransparent {
    top: 15vh;
  }
}
