#IndustrialDesignContainer {
  background-color: white;
  float: right;
  width: calc(100vw - 350px);
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

#imgContainerIndustrialDesign {
  width: calc(99vw - 350px);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#IndustrialDesignContainer img {
  margin: calc(99vw / 264 - 350px / 264);
  height: calc(99vw / 3.3 - 350px / 3.3);
}

#separator {
    width: 350px;
    height: 20px;
}