@font-face {
  font-family: HelNowMed;
  src: url("../Fonts/HelveticaNowDisplay-Medium.otf") format("truetype");
}

@font-face {
  font-family: HelNowReg;
  src: url("../Fonts/HelveticaNowDisplay-Regular.otf") format("truetype");
}

#container {
  z-index: 2;
  background-color: white;
  width: 350px;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
}

h2 {
  font-family: HelNowMed;
  margin: 0 0 -10px 5px;
  width: 50px;
  font-size: 35px;
}

#links {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-left: 5px;
  text-decoration: none;
  width: 150px;
}

#container a,
#container #instagram,
#container p {
  text-decoration: none;
  color: black;
  font-family: HelNowReg;
  font-size: 18px;
}

#container #instagram {
  position: absolute;
  bottom: 10px;
  left: 5px;
}

#container p {
  position: absolute;
  bottom: 15px;
  left: 5px;
}
