@font-face {
  font-family: HelNowMed;
  src: url("../Fonts/HelveticaNowDisplay-Medium.woff") format("truetype");
}

@font-face {
  font-family: HelNowReg;
  src: url("../Fonts/HelveticaNowDisplay-Regular.woff") format("truetype");
}

#container {
  display: flex;
  flex-direction: column;
}

#topContainer,
#bottomContainer {
  z-index: 4;
  background-color: white;
  /* width: 360px; */
  width: 400px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}
#topContainer {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  height: auto;
}

#title {
  width: 50%;
}

#cross {
  float: right;
  width: 70px;
  height: 54px;
}

#cross img {
  width: 54px;
  height: 54px;
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: transparent !important;
}

#cross #crossHorizontal {
  width: 70px;
}

#cross #crossVertical {
  margin-left: 8px;
}

#cross img:hover {
  cursor: pointer;
}

h2 {
  font-family: HelNowReg;
  margin: 7px 0 -10px 15px;
  width: 50px;
  font-size: 48px;
}

a {
  text-decoration: none;
  color: black;
}

#lastName {
  margin-top: -12px;
}

#bottomContainer {
  background-color: white;
  height: 100vh;
}
#links {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  margin-left: 15px;
  text-decoration: none;
  width: 150px;
}

#links p {
  margin: 0;
}

#bottomContainer a,
#bottomContainer #instagram,
#bottomContainer p {
  font-family: HelNowReg;
  font-size: 18px;
}

#bottomContainer #instagram {
  position: absolute;
  bottom: 5px;
  left: 15px;
}

#bottomContainer #contact p {
  margin: 36px 0 0 15px;
}

@keyframes show {
  0% {
    position: fixed;
    transform: translateY(-110vh);
  }

  100% {
    position: fixed;
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
    position: fixed;
    transform: translateY(0);
  }

  100% {
    position: fixed;
    transform: translateY(-110vh);
  }
}

.showMenu {
  display: inline;
  animation-name: show;
  animation-duration: 0.15s;
}

.transitionMenu {
  color: black;
  animation-name: hide;
  animation-duration: 0.3s;
}

.hideMenu {
  display: none;
}

.linkSelected {
  font-family: HelNowMed !important;
}

.unpressedLink {
  color: #b6b6b6;
}

@media all and (max-width: 750px) {
  #topContainer {
    width: 100vw;
    height: 70px;
  }

  .mobileSpacing {
    width: 95vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  h2 {
    font-size: 30px;
    margin-left: 0;
  }

  #cross img {
    margin: 10px 12px 0 0;
    display: inline;
  }

  #cross img:hover {
    background-color: white;
  }

  #desktopMenu {
    display: none;
  }

  #bottomContainer {
    width: 100vw;
  }
  #bottomContainer #instagram {
    position: absolute;
    bottom: calc(15vh + 5px);
  }

  #lastName {
    margin-top: 0px;
  }
}

@media all and (max-width: 750px) and (max-height: 700px) {
  #bottomContainer {
    height: 100vh;
  }

  #bottomContainer a,
  #bottomContainer #instagram,
  #bottomContainer p {
    font-size: 18px;
  }

  #bottomContainer #instagram {
    position: absolute;
    bottom: calc(10vh + 5px);
  }
}

@media all and (max-width: 850px) and (max-height: 450px) {
  #bottomContainer {
    height: 100vh;
    top: 0px;
  }
  #links {
    margin-top: 25vh;
    margin-left: 15px;
    text-decoration: none;
    width: 150px;
  }
  #bottomContainer #instagram {
    position: absolute;
    left: 15px;
    bottom: 5px;
  }
}
