.generalContainer {
  background-color: white;
  float: right;
  width: calc(100vw - 390px);
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
}

.imgContainer {
  width: calc(99vw - 370px);
  display: flex;
  flex-wrap: wrap;
}

.generalContainer img {
  margin: 0 calc(99vw / 264 - 350px / 264);
  height: calc(99vw / 3.3 - 350px / 3.3);
}

.generalContainer a {
  margin: calc(99vw / 264 - 350px / 264) 0;
  height: calc(99vw / 3.3 - 350px / 3.3);
}

.generalContainer img:hover {
  cursor: pointer;
}

@media all and (max-width: 900px){
  .generalContainer img {
    margin: 0 calc(97vw / 264 - 350px / 264);
    height: calc(97vw / 3.3 - 350px / 3.3);
  }
  .generalContainer a {
    margin: calc(97vw / 264 - 350px / 264) 0;
    height: calc(97vw / 3.3 - 350px / 3.3);
  }
  
}

@media all and (max-width: 750px){
  .generalContainer img {
    margin: 0 calc(95vw / 264 - 350px / 264);
    height: calc(95vw / 3.3 - 350px / 3.3);
  }
  .generalContainer a {
    margin: calc(95vw / 264 - 350px / 264) 0;
    height: calc(95vw / 3.3 - 350px / 3.3);
  }
  
}