.generalContainer {
  background-color: white;
  float: right;
  width: calc(100vw - 350px);
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  justify-content: start;
}

.imgContainer {
  width: calc(99vw - 370px);
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
}

.generalContainer img {
  margin: calc(99vw / 264 - 350px / 264);
  height: calc(99vw / 3.3 - 350px / 3.3);
}

.generalContainer img:hover {
  cursor: pointer;
}

.separator {
  width: calc(95vw - 370px);
  height: 20px;
}
